.edit {
  padding-bottom: 174px;
}

.edit__avatar {
  display: flex;
  align-items: center;
  margin-bottom: 113px;
}

.edit__avatar-image {
  width: 100%;
  max-width: 437px;
  border-radius: 50%;
  margin-right: 106px;
}

.edit__avatar-load {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 38px;
}

.edit__label-avatar {
  display: flex;
  gap: 2px;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
}

.edit__label-avatar svg {
  width: 38px;
  height: 38px;
}

.edit__input-file {
  display: none;
}

.edit__avatar-delete {
  display: flex;
  gap: 2px;
  align-items: center;
}

.edit__avatar-delete svg {
  width: 38px;
  height: 38px;
}

.edit__name {
  display: flex;
  gap: 40px 36px;
  margin-bottom: 44px;
}

.edit__label {
  max-width: 694px;
}

.edit__label-text {
  display: block;
  font-size: 50px;
  margin-bottom: 14px;
}

.edit__input {
  display: block;
  width: 100%;
  border-radius: 15px;
  padding: 22px 32px;
  font-size: 48px;
  background-color: #fff;
  color: #282828;
  border: none;
}

.edit__birthdate {
  display: flex;
  gap: 12px;
  margin-bottom: 44px;
}

.edit__label_select {
  position: relative;
}

.edit__label_select::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 34px;
  height: 34px;
  background-image: url('../img/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  pointer-events: none;
  transition: transform 0.2s;
}

.edit__label_select:focus-within::after {
  transform: translateY(-50%) rotate(-180deg);
}

.edit__select {
  appearance: none;
  border-radius: 15px;
  font-size: 48px;
  background-color: #fff;
  color: #282828;
  padding: 22px 50px 22px 32px;
  cursor: pointer;
}

.edit__description {
  font-size: 38px;
  margin-bottom: 68px;
}

.edit__description-input {
  max-width: 1420px;
  width: 100%;
  min-height: 250px;
  border: 3px solid #365aba;
  border-radius: 15px;
  padding: 35px 32px;
  resize: none;
  background-color: #fff;
}

.edit__submit-btn {
  margin-right: 22px;
}
.edit__submit-btn:last-child {
  margin-right: 0;
}

.edit__wish {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 44px 36px;
  margin-bottom: 44px;
}

.edit__label_price {
  flex: 0 1 50%;
}

.edit__wish-price {
  display: flex;
  align-items: flex-end;
  gap: 36px;
  max-width: 694px;
}

.edit__select_currency {
  width: 100%;
}

.edit__wish-photo {
  position: relative;
  display: block;
  width: 285px;
  height: 285px;
  margin-bottom: 152px;
}

.edit__label-photo {
  position: relative;
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.edit__wish-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}

.edit__wish-delete {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #365aba;
}

/** Adaptive */
@media (max-width: 1200px) {
  .edit__avatar {
    margin-bottom: 56px;
  }

  .edit__avatar-image {
    max-width: 466px;
    margin-right: 34px;
  }

  .edit__name {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .edit__birthdate {
    margin-bottom: 40px;
  }

  .edit__description {
    margin-bottom: 40px;
  }

  .edit__description-input {
    min-height: 311px;
  }

  .edit__wish {
    grid-template-columns: 1fr;
  }

  .edit__submit-btn {
    margin-right: 18px;
  }
}

@media (max-width: 992px) {
  .edit {
    padding-bottom: 80px;
  }

  .edit__avatar {
    margin-bottom: 64px;
  }

  .edit__avatar-image {
    max-width: 340px;
    margin-right: 25px;
  }

  .edit__avatar-load {
    font-size: 24px;
  }

  .edit__label-avatar {
    gap: 5px;
    margin-bottom: 24px;
  }

  .edit__avatar-delete svg {
    width: 30px;
    height: 30px;
  }

  .edit__name {
    gap: 44px;
    margin-bottom: 44px;
  }

  .edit__birthdate {
    margin-bottom: 44px;
  }

  .edit__description {
    margin-bottom: 62px;
  }

  .edit__description-input {
    min-height: 503px;
  }

  .edit__wish-photo {
    margin-bottom: 62px;
  }

  .edit__submit-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 44px 18px;
  }
}

@media (max-width: 740px) {
  .edit {
    padding-top: 16px;
    padding-bottom: 46px;
  }

  .edit__avatar {
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
  }

  .edit__avatar-image {
    max-width: 160px;
    margin-bottom: 16px;
    margin-right: 0;
  }

  .edit__avatar-load {
    font-size: 14px;
    align-items: center;
  }

  .edit__label-avatar {
    justify-content: center;
    gap: 6px;
    margin-bottom: 16px;
  }

  .edit__label-avatar svg {
    width: 16px;
    height: 16px;
  }

  .edit__avatar-delete {
    justify-content: center;
    gap: 6px;
  }

  .edit__avatar-delete svg {
    width: 16px;
    height: 16px;
  }

  .edit__label-text {
    font-size: 24px;
    margin-bottom: 12px;
  }

  .edit__input {
    font-size: 20px;
    padding: 12px 18px;
  }

  .edit__name {
    gap: 24px;
    margin-bottom: 24px;
  }

  .edit__birthdate {
    margin-bottom: 24px;
  }

  .edit__description-input {
    min-height: 288px;
    padding: 32px 16px;
    font-size: 18px;
  }

  .edit__description {
    margin-bottom: 24px;
  }

  .edit__select {
    border-radius: 8px;
    font-size: 20px;
    padding: 12px 27px 12px 18px;
  }

  .edit__label_select::after {
    width: 18px;
    height: 18px;
    margin-right: 5px;
  }

  .edit__wish {
    gap: 24px;
  }

  .edit__select_currency {
    border-radius: 15px;
  }

  .edit__wish-price {
    gap: 14px;
  }

  .edit__wish-photo {
    width: 288px;
    height: 288px;
    margin-bottom: 32px;
  }

  .edit__submit-wrapper {
    gap: 24px;
  }
}
