.hero {
  flex-grow: 1;
  padding: 20px 0;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__title {
  font-family: 'Aclonica';
  font-weight: 400;
  font-size: 312px;
  line-height: 113.461538%; /* 354/312 */
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.hero__title:last-child {
  margin-bottom: 0;
}

.hero__description {
  font-weight: 400;
  font-size: 46px;
  line-height: 117.391304%; /* 54/46 */
  text-align: center;
  max-width: 940px;
  margin-bottom: 135px;
}

.hero__steps {
}

/* Adaptive */
@media (max-width: 1700px) {
  .hero__title {
    font-size: 150px;
  }
}

@media (max-width: 1024px) {
  .hero__description {
    font-size: 36px;
    max-width: 770px;
    margin-bottom: 32px;
  }
}

@media (max-width: 768px) {
  .hero__title {
    font-size: 118px;
  }

  .hero__description {
    font-size: 26px;
    max-width: 590px;
    margin-bottom: 100px;
  }
}

@media (max-width: 480px) {
  .hero__title {
    font-size: 86px;
    margin-bottom: 8px;
  }

  .hero__description {
    font-size: 18px;
    max-width: 100%;
    margin-bottom: 54px;
  }
}
