.nav {
  display: flex;
  align-items: center;
}

.nav__btn {
  margin-right: 22px;
}

.nav__btn:last-child {
  margin-right: 0;
}

/** Adaptive */
@media (max-width: 1200px) {
  .nav__btn {
    margin-right: 18px;
  }
}

@media (max-width: 992px) {
  .nav {
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    background-color: #365aba;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 60px 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(calc(-100% - 130px));
    transition: transform 0.5s ease-out;
  }

  .nav.nav_active {
    transform: translateY(0);
  }

  .nav__btn {
    margin-right: 0;
    margin-bottom: 24px;
  }

  .nav__btn:last-child {
    margin-bottom: 0;
  }
}

/* @media (max-width: 768px) {
  .nav {
    display: none;
  }
} */
