.profile {
  display: flex;
  align-items: flex-end;
}

.profile__avatar {
  width: 100%;
  max-width: 437px;
  border-radius: 50%;
  margin-right: 107px;
}

.profile__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 78px;
}

.profile__fullname {
  font-weight: 400;
  font-size: 50px;
  margin-bottom: 12px;
}

.profile__birthday {
  font-size: 38px;
  margin-bottom: 44px;
}

.profile__edit {
  display: flex;
  align-items: center;
  font-size: 32px;
  text-align: left;
}

.profile__edit svg {
  margin-right: 7px;
}

/** Adaptive */
@media (max-width: 1200px) {
  .profile {
    align-items: center;
  }

  .profile__avatar {
    max-width: 466px;
    margin-right: 34px;
  }

  .profile__content {
    gap: 12px;
    padding-top: 17px;
    padding-bottom: 0;
  }

  .profile__fullname {
    margin-bottom: 0;
  }

  .profile__birthday {
    font-size: 32px;
    margin-bottom: 0;
  }

  .profile__edit svg {
    margin-right: 2px;
  }
}

@media (max-width: 992px) {
  .profile__avatar {
    max-width: 340px;
    margin-right: 20px;
  }

  .profile__content {
    padding-top: 0;
  }

  .profile__birthday {
    margin-bottom: 12px;
  }

  .profile__edit svg {
    width: 30px;
    margin-right: 7px;
  }
}
