html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Roboto';
  font-weight: 400;
  background-color: #365aba;
  color: #fff;
}

img,
svg {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1792px;
  padding: 0 40px;
  margin: 0 auto;
}

.app {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 10px 20px;
  background-color: #fff;
  color: #365aba;
  font-size: 34px;
  line-height: 117.647059%; /* 40/34 */
  text-transform: capitalize;
  border: 1px solid transparent;
  border-radius: 15px;
  transition-property: color, background-color, border;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.btn:hover {
  color: #fff;
  background-color: #365aba;
  border-color: #fff;
}

.btn_castling {
  color: #fff;
  background-color: #365aba;
}

/** Adaptive */
@media (max-width: 1700px) {
  .container {
    padding: 0 32px;
  }

  .btn {
    font-size: 28px;
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0 22px;
  }

  .btn {
    font-size: 24px;
  }
}

@media (max-width: 992px) {
  .container {
    padding: 0 34px;
  }
}
/*
@media (max-width: 480px) {
  .container {
    padding: 0 16px;
  }
} */
